.git
.gitignore
.github

.env
.env.*

.venv
venv

**/__pycache__
**/*.py[cod]

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

frontend
tests
docs


requirements-dev.txt


.vscode
.idea

**/*.log
**/.DS_Store
**/Thumbs.db
